<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <% include partials/_header %>
    <div class="span 6">
      <h1> Hello </br></h1>
      <% for(link in urls) { %>
          <h4 class="list-group-item-heading"> <%= urls[link] %></h4>
          <p>Shortened link: <%= link %> </p>
          <br>
       <% } %>
         <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">SHORTEN YER LINK HERE</span>
            <input type="text" class="form-control" placeholder="www.example.com" aria-describedby="sizing-addon1">
        </div>
    </div>
  </body>
</html>



